@font-face {
  font-family: 'AllFont';
  src: url('https://xiamo.oss-cn-shenzhen.aliyuncs.com/font/InputMono-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'emoji-font';
  src: url('https://alioss.xiamoqwq.com/font/seguiemj.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

page {
  font-family: "AllFont", "emoji-font";
}

.active-opacity-50 {
  &:active {
    opacity: 0.5;
  }
}

.active-bg {
  &:active {
    background-color: rgba(0, 0, 0, .05);
  }
}
